<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget Password</title>
    {% load static %}
    <link rel = "stylesheet" href="{% static 'forget_password.css' %}" >

</head>
<body>
    <form action="" method ="POST">
        <p>Please enter your Registered Email below for reset your Password.</p>
        <h1>Forget password</h1>
        {%  csrf_token %}
        Email: <input type="email" name="email">

        <input type="submit" value ="Get Link">
    </form>
</body>
</html>