<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New-Password</title>
    {% load static %}
    <link rel = "stylesheet" href="{% static 'new_password.css' %}">
</head>
<body>
    <h1>New Password</h1>
    <p>Please {{ user.name }} create your new password. </p>
    <br>
    <form action="" method="POST">

        {% csrf_token %}
        <label for="Password">Password : </label>
        <input type="password" name ="password1">
        <br><br>
        <label for="Password">Confirm Password : </label>
        <input type="password" name ="password2">
        <br><br>
        <input type = "Submit" value = "Create password">
    </form>
</body>
</html>